/* リキッドレイアウト対応 */
@use "global" as *;

html {
  //375px~767px
  font-size: 16px;
  //~375px
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }

  // @include mq("md") {
  //   font-size: vw($inner-pc + $padding-pc * 2, 16);
  // }

  //inner~max-screen
  // @media (min-width: #{$inner-pc + $padding-pc * 2}px) {
  //   font-size: 16px;
  // }
}

/* pcの電話番号発信対応 */
@if $startFrom == sp {
  a[href^="tel:"] {
    @include mq() {
      pointer-events: none;
    }
  }
} @else {
  a[href^="tel:"] {
    pointer-events: none;
    @include mq() {
      pointer-events: initial;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

/* フォーカスされている要素を明確に示 */
a:focus-visible {
  opacity: 0.7;
}

/* 入力デバイスのいずれかにhoverに対応している入力デバイスが含まれる場合に適用 */
@media (any-hover: hover) {
  a:hover {
    opacity: 0.7;
  }
}

:root {
  --leading-trim: calc((1em - 1lh) / 2);
}

html {
  scroll-behavior: smooth;
  @include mq() {
    min-width: rem($inner-pc + $padding-pc * 2);
    // max-width: 1200px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: $base-font-family;
  line-height: 1.5;
  @include mq() {
    min-width: rem($inner-pc + $padding-pc * 2);
  }
}

main {
  flex: 1;
}

