@use "sass:math";

// デザインカンプ
// pc
// sp 768(384)

// インナー幅設定
$inner-pc: 1200;
$inner-sp: 540;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25;
$padding-sp: 20;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！

$blue: #0066c5;

$base-font-family: "Noto Sans JP", system-ui;
$font-roboto: "Roboto", system-ui;

// ※検証ツールでしっかり反映されているか確認する




