@use "sass:math";

// デザインカンプ
// pc
// sp 768(384)

// インナー幅設定
$inner-pc: 1200;
$inner-sp: 540;

// 余白
$padding-pc: 25;
$padding-sp: 20;

$blue: #0066c5;

$base-font-family: "Noto Sans JP", system-ui;
$font-roboto: "Roboto", system-ui;





