@use "global" as *;

.c-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  width: rem(254);
  max-width: 100%;
  padding: rem(20);
  background-color: $blue;
  border: 2px solid $blue;
  border-radius: 100vh;
  color: #fff;
  font-size: maxrem(13);
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  @include mq() {
    width: rem(240);
    font-size: maxrem(14);
  }
}

.c-button::after {
  display: inline-block;
  width: rem(11);
  height: auto;
  aspect-ratio: 1 / 1;
  mask-image: url(../images/icon_external.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: #fff;;

  content: "";
  transition: background-color 0.3s ease-in-out;

}

.c-button--2::after {
  transform: translateX(rem(13));
  @include mq() {
  }
}

.c-button--arrow {
  width: rem(234);
  @include mq() {
    width: rem(270);
    padding: rem(27)
  }
}

.c-button--arrow::after {
  position: absolute;
  top: 50%;
  right: rem(22);
  transform: translateY(-50%);
  display: inline-block;
  width: rem(11);
  height: auto;
  aspect-ratio: 11 / 16;
  mask-image: url(../images/arrow_right.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  content: "";
  @include mq() {
    right: rem(28);
  }
}

/* フォーカスされている要素を明確に示 */
:focus-visible {
}

/* 入力デバイスのいずれかにhoverに対応している入力デバイスが含まれる場合に適用 */
@media (any-hover: hover) {
  .c-button:hover {
    opacity: 1;
  }
  .c-button:hover {
    color: $blue;
    background-color: #fff;
  }
  .c-button:hover::after {
    background-color: $blue;
  }
}