@use 'global' as *;

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  width: rem(254);
  max-width: 100%;
  padding: rem(20);
  background-color: $blue;
  border-radius: 100vh;
  color: #fff;
  font-size: maxrem(13);
  font-weight: 700;
  letter-spacing: 0.06em;  
  line-height: 1;
  @include mq() {
    width: rem(240);
    font-size: maxrem(14);
  }
}


.c-button::after {
  display: inline-block;
  width: rem(11);
  height: auto;
  aspect-ratio: 1 / 1;
  background: url(../images/icon_external.svg) no-repeat center / contain;
  content: "";
}


.c-button--2::after {
 transform: translateX(rem(13)); 
  @include mq() {
    
  }
}