@use "global" as *;

.p-contact {
}

.p-contact__inner {
}

.p-contact__heading {
}

.p-contact__container {
  margin-top: rem(35);
  padding: rem(35) rem(20);
  background-color: #fff;
  border-radius: rem(10);
  box-shadow: 0 0 rem(20) 0 #F0F1F2;
  overflow-y: scroll;
  scrollbar-color: #DFDFDF #fff; // Firefox対応

  @include mq() {
    margin-top: rem(58);
    padding: rem(105) rem(120);
    box-shadow: 0 0 rem(40) 0 #F0F1F2;
    border-radius: rem(20);
  }
}


// 必須
.p-contact__container::-webkit-scrollbar {
  background: #000;
  width: 2px;
}

.p-contact__container::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: rem(10);
}

.p-contact__container::-webkit-scrollbar-thumb {
  background-color: #DFDFDF;
  border-radius: rem(10);
}