@use "global" as *;

.p-contact {
}

.p-contact__inner {
}

.p-contact__heading {
}

.p-contact__container {
  padding: rem(40) rem(20);
  background-color: #fff;
  border-radius: rem(20);
  box-shadow: 0 0 rem(40) 0 #F0F1F2;
}

.p-form {
}

.p-form__items {
}

.p-form__item {
}

.p-form__dt {
}

.p-form__item-required {
}

.p-form__dd {
}

.text-box {
}

.select-box-wrapper {
}

.select-box {
}

.text-area {
}

.p-form__privacy {
}

.p-form__privacy-description {
}

.p-form__privacy-container {
}

.p-form__privacy-text {
}

.p-form__acceptance {
}

.label--input {
}

.require-items {
}

.submit-button {
}

.cta {
}

.mt-l {
}
