@use "global" as *;
@use "sass:math";

// .p-form {
// }

.p-form__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(21);
  @include mq() {
    gap: rem(45);
  }
}

.p-form__item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(13);
  @include mq() {
    grid-template-columns: rem(240) 1fr;
    gap: rem(50);
  }
}

.p-form__dt {
  @include mq() {
    padding-top: rem(16);
  }
}

.p-form__dt label {
  margin-block: var(--leading-trim);
  font-size: maxrem(14);
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1;

  @include mq() {
    font-size: maxrem(18);
  }
}

.p-form__dd {
}

.p-form__dd:has(select) {
  position: relative;
}

.p-form__dd:has(select)::after {
  position: absolute;
  bottom: rem(20);
  right: rem(6);
  display: block;
  width: rem(10);
  height: auto;
  aspect-ratio: 20/17;
  content: "";
  background-color: #6d6d6d;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  pointer-events: none;
  @include mq() {
    right: rem(22);
    bottom: rem(22);
  }
}

.p-form__dd input:not([type="radio"]):not([type="checkbox"]),
.p-form__dd select,
.p-form__dd textarea {
  display: block;
  width: 100%;
  padding: rem(12) rem(17);
  background-color: #fff;
  border: 1px solid rgba(#222, 0.1);
  border-radius: rem(3);
  @include mq() {
    border-radius: rem(6);
  }
}
.p-form__dd input::placeholder,
.p-form__dd select,
.p-form__dd textarea::placeholder {
  color: rgba(#222, 0.3);
  font-size: maxrem(13);
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.8;
  @include mq() {
    font-size: maxrem(16);
  }
}

.p-form__dd select {
  padding-right: rem(40);
}

.p-form__dd textarea {
  height: rem(127);
  @include mq() {
    height: rem(280);
  }
}

.p-form__privacy {
  margin-top: rem(42);
  @include mq() {
    margin-top: rem(65);
  }
}

.p-form__privacy-description {
  margin-block: var(--leading-trim);
  font-size: maxrem(13);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.8;
  @include mq() {
    font-size: maxrem(16);
    text-align: center;
  }
}

.p-form__privacy-container {
  margin-top: rem(30);

  background-color: rgba(#222, 0.03);
  padding: rem(27) rem(13) rem(24) rem(20);
  border-radius: rem(5);
  @include mq() {
    margin-top: rem(45);
    border-radius: rem(10);
    padding: rem(30) rem(20) rem(23) rem(40);
  }
}

.p-form__privacy-inner {
  height: rem(158);
  padding-right: rem(5);
  overflow-y: auto;
}

.p-form__privacy-text {
  font-size: maxrem(12);
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.8;
  @include mq() {
    font-size: maxrem(14);
  }
}

.p-form__acceptance {
  margin-top: rem(53);
  text-align: center;
}

.p-form__item-required {
  margin-left: rem(6);
  color: #ff8020;
  font-size: maxrem(11);
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1;
  @include mq() {
    margin-left: rem(10);
    font-size: maxrem(14);
  }
}

.p-form__acceptance input + label {
  margin-block: var(--leading-trim);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: maxrem(13);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.8;
  @include mq() {
    font-size: maxrem(16);
  }
}

.p-form__acceptance input + label::before {
  flex-shrink: 0;
  margin-right: rem(10);
  display: inline-flex;
  width: rem(12);
  height: auto;
  aspect-ratio: 1 / 1;
  content: "";
  background-color: #f1f1f1;
  border-radius: rem(2);
  @include mq() {
    width: rem(20);
    border-radius: rem(4);
  }
}

.p-form__acceptance input:checked + label::after {
  position: absolute;
  top: rem(2);
  left: rem(4);
  margin: auto;
  display: inline-block;
  width: rem(6);
  height: rem(12);
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  transform: rotate(45deg);
  content: "";
}

.p-form__policy-description {
  margin-top: rem(28);
  @include mq() {
    margin-top: rem(42);
  }
}

.p-form__policy-description a {
  color: #222;
  text-decoration: underline;
}
.p-form__button {
  margin-top: rem(35);
  text-align: center;
  @include mq() {
    margin-top: rem(49);
  }
}

.p-form__submit {
  position: relative;
  color: #fff;
  font-size: maxrem(17);
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(274);
  height: rem(69);
  border-radius: 100vh;
  background-image: linear-gradient(#ff9b3f, #fd7a00);
  outline: 1px solid #fff;
  outline-offset: rem(-5);
  @include mq() {
    width: rem(420);
    height: rem(106);
    font-size: maxrem(26);
    outline-offset: rem(-8);
  }
}

.p-form__submit::after {
  position: absolute;
  top: 50%;
  right: rem(24);
  transform: translateY(-50%);
  width: rem(7);
  height: auto;
  aspect-ratio: 11/ 16;
  background: url(../images/arrow_right.svg) no-repeat center / contain;
  content: "";
  @include mq() {
    right: rem(37);
    width: rem(11);
  }
}

.error-message {
  color: red;
}

/* hover指定できるPCを想定したスタイル */
@media (hover: hover) {
  .p-form__send input:hover {
  }
  .p-form__send:hover::after {
  }
}

/* hoverが使えないタッチ端末を想定した装飾 */
@media (hover: none) {
  .p-form__send input:active {
    opacity: 0.7;
  }
  .p-form__send:active::after {
    transform: translateX(rem(4));
  }
}

/* hover指定できるPCを想定したスタイル */
@media (hover: hover) {
}

/* hoverが使えないタッチ端末を想定した装飾 */
@media (hover: none) {
}
