@use "global" as *;

.p-mv {
  padding-block: vws(30) vws(43);
  background: url(../images/mv_bg_sp.webp) no-repeat center / cover;
  background-image: url(../images/mv_bg_sp.png);
  @include mq() {
    padding-block: vwl(24) vwl(84);
    background-image: url(../images/mv_bg.webp);
    background-image: url(../images/mv_bg.png);
  }
}

.p-mv__inner {
  max-width: initial;
  @include mq() {
    max-width: initial;
    padding-inline: vwl(15);
  }
}

.p-mv__heading {
  margin-inline: auto;
  width: vws(344);
  @include mq() {
    margin-left: 0;
    width: vwl(178);
  }
}

.p-mv__heading img {
  width: 100%;
  height: auto;
  aspect-ratio: 688 / 120;
  object-fit: contain;
  @include mq() {
    aspect-ratio: 178 / 24;
  }
}

.p-mv__content {
  margin-top: vws(12);
  @include mq() {
    position: relative;
    margin-top: vwl(52);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    max-width: vwl(1194);
  }
}

.p-mv__text-top {
  margin-inline: auto;
  width: vws(337);
  @include mq() {
    margin-left: 0;
    width: vwl(888);
  }
}

.p-mv__text-top img {
  width: 100%;
  height: auto;
  aspect-ratio: 674 / 592;
  object-fit: cover;
  @include mq() {
    aspect-ratio: 888 / 213;
  }
}

.p-mv__button-items {
  margin-top: vws(40);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: vws(10);
  width: vws(314);
  @include mq() {
    order: 1;
    margin-top: vwl(50);
    margin-left: 0;
    flex-direction: row-reverse;
    width: vwl(856);
    gap: vwl(16);
  }
}

.p-mv__button-item a {
  display: block;
}

.p-mv__button-item a img {
  width: 100%;
  height: auto;
  aspect-ratio: 628 / 159;
  object-fit: cover;
}

.p-mv__text-bottom {
  margin-top: vws(44);
  width: vws(253);
  @include mq() {
    margin-top: vwl(55);
    width: vwl(718);
  }
}

.p-mv__text-bottom img {
  width: 100%;
  height: auto;
  aspect-ratio: 505 / 318;
  object-fit: cover;
  @include mq() {
    aspect-ratio: 718 / 211;
  }
}

.p-mv__text {
  display: none;
  @include mq() {
    position: absolute;
    top: vwl(65);
    right: vwl(-2);
    display: block;
    width: vwl(74);
  }
}

.p-mv__text img {
  width: 100%;
  height: auto;
  aspect-ratio: 7106 / 22058;
  object-fit: contain;
  
}