@use "global" as *;

.p-mv {
  padding-block: rem(30) rem(43);
  background: url(../images/mv_bg_sp.webp) no-repeat bottom / cover;
  background-image: url(../images/mv_bg_sp.png);
  @include mq() {
    padding-block: rem(24) rem(84);
    background-image: url(../images/mv_bg.webp);
    background-image: url(../images/mv_bg.png);
  }
}

.p-mv__inner {
  // max-width: initial;
  @include mq() {
    // max-width: initial;
    padding-inline: rem(15);
  }
}

.p-mv__heading {
  margin-inline: auto;
  width: rem(344);
  @include mq() {
    margin-left: 0;
    width: rem(178);
  }
}

.p-mv__heading img {
  width: 100%;
  height: auto;
  aspect-ratio: 688 / 120;
  object-fit: contain;
  @include mq() {
    aspect-ratio: 178 / 24;
  }
}

.p-mv__content {
  margin-top: rem(12);
  @include mq() {
    position: relative;
    margin-top: rem(52);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    max-width: rem(1194);
  }
}

.p-mv__text-top {
  margin-inline: auto;
  width: rem(337);
  @include mq() {
    margin-left: 0;
    width: rem(888);
  }
}

.p-mv__text-top img {
  width: 100%;
  height: auto;
  aspect-ratio: 674 / 592;
  object-fit: cover;
  @include mq() {
    aspect-ratio: 888 / 213;
  }
}

.p-mv__button-items {
  margin-top: rem(40);
  // margin-inline: auto;
  margin-left: rem(16);
  
  display: flex;
  flex-direction: column;
  gap: rem(10);
  width: rem(314);
  @include mq() {
    order: 1;
    margin-top: rem(50);
    // margin-left: 0;
    flex-direction: row-reverse;
    width: rem(856);
    gap: rem(16);
  }
}

.p-mv__button-item {
  @include mq() {
    width: 100%;
  }
}

.p-mv__button.c-button-gradient {
  width: 100%;
  height: rem(79);
  @include mq() {
    height: rem(107);
  }
}

.p-mv__button img {
  width: rem(210);
  height: auto;
  aspect-ratio: 272 / 32;
  object-fit: contain;
  transform: translateX(rem(-8));
  @include mq() {
    width: rem(272);
  }
}

.p-mv__text-bottom {
  margin-top: rem(44);
  width: rem(253);
  @include mq() {
    margin-top: rem(55);
    width: rem(718);
  }
}

.p-mv__text-bottom img {
  width: 100%;
  height: auto;
  aspect-ratio: 505 / 318;
  object-fit: cover;
  @include mq() {
    aspect-ratio: 718 / 211;
  }
}

.p-mv__text {
  display: none;
  @include mq() {
    position: absolute;
    top: rem(65);
    right: rem(-2);
    display: block;
    width: rem(74);
  }
}

.p-mv__text img {
  width: 100%;
  height: auto;
  aspect-ratio: 7106 / 22058;
  object-fit: contain;
  
}