/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*-------------------------------------------------------------------*/
/* mass */
/*-------------------------------------------------------------------*/
@-webkit-keyframes playRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes playRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeInBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes fadeInBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -256px 256px;
  }
}
@keyframes animBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -256px 256px;
  }
}
@-webkit-keyframes animBgSP {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: vwSP(-256) vwSP(-256);
  }
}
@keyframes animBgSP {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: vwSP(-256) vwSP(-256);
  }
}
/*-------------------------------------------------------------------*/
/* mass */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Mixin */
/*-------------------------------------------------------------------*/
html {
  font-size: 62.5%;
  line-height: 1;
}
@media print, screen and (max-width: 1024px) {
  html {
    font-size: 1.3020833333vw;
  }
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  letter-spacing: 0.06em;
  background: #fff;
  color: rgb(34, 34, 34);
  font-weight: 500;
}
@media print, screen and (max-width: 1279px) {
  body {
    min-width: 1280px;
    overflow-x: scroll;
  }
}
@media print, screen and (max-width: 1024px) {
  body {
    min-width: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.is-loading * {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-transition-delay: unset !important;
  transition-delay: unset !important;
}

.is-resizing *,
.is-resizing *::before,
.is-resizing *::after {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-transition-delay: unset !important;
  transition-delay: unset !important;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}

.w100 img,
img.w100 {
  width: 100%;
  height: auto;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

_::-webkit-full-page-media, _:future, :root img {
  image-rendering: auto;
}

a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

p {
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
}

.pc_b {
  display: block !important;
}
@media print, screen and (max-width: 1024px) {
  .pc_b {
    display: none !important;
  }
}

.pc_i {
  display: inline !important;
}
@media print, screen and (max-width: 1024px) {
  .pc_i {
    display: none !important;
  }
}

.pc_ib {
  display: inline-block !important;
}
@media print, screen and (max-width: 1024px) {
  .pc_ib {
    display: none !important;
  }
}

.pc_f {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
}
@media print, screen and (max-width: 1024px) {
  .pc_f {
    display: none !important;
  }
}

.sp_b {
  display: none !important;
}
@media print, screen and (max-width: 1024px) {
  .sp_b {
    display: block !important;
  }
}

.sp_i {
  display: none !important;
}
@media print, screen and (max-width: 1024px) {
  .sp_i {
    display: inline !important;
  }
}

.sp_ib {
  display: none !important;
}
@media print, screen and (max-width: 1024px) {
  .sp_ib {
    display: inline-block !important;
  }
}

.sp_f {
  display: none !important;
}
@media print, screen and (max-width: 1024px) {
  .sp_f {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
}

@media (any-hover: hover) {
  .hover {
    opacity: 1;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
  }
  .hover:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

.txt-hidden {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.guard {
  pointer-events: none;
}

/*-------------------------------------------------------------------*/
/* Mixin */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Variable */
/*-------------------------------------------------------------------*/
/* =============================================================== */
/* .st-Wrapper */
/* =============================================================== */
.st-Wrapper {
  width: 100%;
  overflow-x: hidden;
}
@media print, screen and (max-width: 1279px) {
  .st-Wrapper {
    min-width: 1280px;
  }
}
@media print, screen and (max-width: 1024px) {
  .st-Wrapper {
    min-width: 0;
  }
}

/* =============================================================== */
/* .sw-Btn */
/* =============================================================== */
.sw-Btn {
  border-radius: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-weight: 900;
  line-height: 1;
}
@media print, screen and (max-width: 1024px) {
  .sw-Btn {
    border-radius: 1.3020833333vw;
  }
}
.sw-Btn-search {
  border: 1px solid #FFA826;
  background: -webkit-linear-gradient(174deg, #FFA826 0%, #FFC32A 100%);
  background: linear-gradient(276deg, #FFA826 0%, #FFC32A 100%);
}
.sw-Btn-registration {
  border: 1px solid #FF537C;
  background: -webkit-linear-gradient(174deg, #F53966 0%, #FF537C 100%);
  background: linear-gradient(276deg, #F53966 0%, #FF537C 100%);
}
@media (any-hover: hover) {
  .sw-Btn {
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  .sw-Btn:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
  }
}

/* =============================================================== */
/* section */
/* =============================================================== */
section.bg-color {
  background-color: #DEF1F4;
}
section .section-Inner {
  padding: 60px 0;
  width: 960px;
  margin: 0 auto;
}
@media print, screen and (max-width: 1024px) {
  section .section-Inner {
    width: 89.5833333333vw;
    padding: 7.8125vw 0;
  }
}
section .section-Inner-1200 {
  padding: 60px 0;
  width: 1200px;
  margin: 0 auto;
}
@media print, screen and (max-width: 1024px) {
  section .section-Inner-1200 {
    width: 89.5833333333vw;
    padding: 7.8125vw 0;
  }
}
section .section-Ttl {
  color: #fff;
  background: rgb(54, 177, 191);
  line-height: 1.6;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.06em;
  padding: 38px 0px 40px 0px;
  text-align: center;
  position: relative;
}
@media print, screen and (max-width: 1024px) {
  section .section-Ttl {
    font-size: 5.2083333333vw;
    padding: 3.125vw 3.90625vw 3.6458333333vw;
  }
}
section .section-Ttl::after {
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/common/img_fukidashi.svg) 0 0/contain no-repeat;
  width: 16px;
  height: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media print, screen and (max-width: 1024px) {
  section .section-Ttl::after {
    width: 3.90625vw;
    height: 2.0833333333vw;
    bottom: -2.0833333333vw;
  }
}

/* =============================================================== */
/* .sw-registration */
/* =============================================================== */
.sw-registration {
  width: 960px;
  margin: 60px auto 0;
  background: url(../../images/pc/bg_introduction.png) 0 0/cover no-repeat;
  border-radius: 10px;
  padding: 40px 0 41px;
  color: #fff;
  text-align: center;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration {
    width: 100vw;
    margin: 0;
    -webkit-transform: translateX(-5.2083333333vw) translateY(7.8125vw);
    transform: translateX(-5.2083333333vw) translateY(7.8125vw);
    border-radius: 0;
    background: url(../../images/sp/bg_introduction.png) 0 0/cover no-repeat;
    padding: 7.2916666667vw 0 6.5104166667vw;
  }
}
.sw-registration_Heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}
.sw-registration_Heading .color {
  color: #FAFF00;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration_Heading {
    font-size: 4.4270833333vw;
  }
}
.sw-registration_Anchor {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 622px;
  height: 88px;
  margin: 22px auto 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  border-radius: 12px;
  border: 1px solid #FF537C;
  background: -webkit-linear-gradient(174deg, #F53966 0%, #FF537C 100%);
  background: linear-gradient(276deg, #F53966 0%, #FF537C 100%);
  gap: 20px;
  position: relative;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration_Anchor {
    width: 81.7708333333vw;
    height: 16.9270833333vw;
    margin: 7.8125vw auto 0;
    padding: 1.0416666667vw 0 0;
    gap: 1.8229166667vw;
  }
}
.sw-registration_Anchor .heading {
  padding: 8px 37.714px 10px 38.286px;
  color: #FB6579;
  border-radius: 100px;
  line-height: 1;
  font-weight: 700;
  font-size: 20px;
  background: #fff;
  letter-spacing: 0.06em;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration_Anchor .heading {
    position: absolute;
    font-size: 4.1666666667vw;
    padding: 1.171875vw 5.5989583333vw 1.3020833333vw 5.5989583333vw;
    top: -4.1666666667vw;
    left: 0;
    right: 0;
    width: 28.6458333333vw;
    margin: 0 auto;
    white-space: nowrap;
  }
}
.sw-registration_Anchor .txt {
  font-weight: 900;
  font-size: 28px;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: 12px;
  letter-spacing: 0.06em;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration_Anchor .txt {
    font-size: 5.2083333333vw;
  }
}
.sw-registration_Anchor .txt .icon {
  width: 34px;
  height: 34px;
  line-height: 0;
  display: inline-block;
  fill: #fff;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration_Anchor .txt .icon {
    width: 6.25vw;
    height: 6.25vw;
    -webkit-transform: translateY(-0.5208333333vw);
    transform: translateY(-0.5208333333vw);
  }
}
.sw-registration_Anchor .arw {
  fill: #fff;
  display: inline-block;
  line-height: 0;
  width: 22px;
  height: 22px;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration_Anchor .arw {
    width: 4.1666666667vw;
    height: 4.1666666667vw;
  }
}
@media (any-hover: hover) {
  .sw-registration_Anchor {
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  .sw-registration_Anchor:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
  }
}
.sw-registration .att {
  font-size: 12px;
  letter-spacing: 0.06em;
  margin-top: 14px;
  font-weight: 500;
  line-height: 1.6;
}
@media print, screen and (max-width: 1024px) {
  .sw-registration .att {
    font-size: 2.6041666667vw;
    margin-top: 2.6041666667vw;
  }
}

/* =============================================================== */
/* .sw-Txtarea */
/* =============================================================== */
.sw-Txtarea {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.8;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea {
    font-size: 3.3854166667vw;
  }
}
.sw-Txtarea p + p, .sw-Txtarea p + img, .sw-Txtarea p + h2, .sw-Txtarea p + h3, .sw-Txtarea p + h4, .sw-Txtarea p + h5, .sw-Txtarea p + .sw-Box,
.sw-Txtarea img + p,
.sw-Txtarea img + img,
.sw-Txtarea img + h2,
.sw-Txtarea img + h3,
.sw-Txtarea img + h4,
.sw-Txtarea img + h5,
.sw-Txtarea img + .sw-Box,
.sw-Txtarea h2 + p,
.sw-Txtarea h2 + img,
.sw-Txtarea h2 + h2,
.sw-Txtarea h2 + h3,
.sw-Txtarea h2 + h4,
.sw-Txtarea h2 + h5,
.sw-Txtarea h2 + .sw-Box,
.sw-Txtarea h3 + p,
.sw-Txtarea h3 + img,
.sw-Txtarea h3 + h2,
.sw-Txtarea h3 + h3,
.sw-Txtarea h3 + h4,
.sw-Txtarea h3 + h5,
.sw-Txtarea h3 + .sw-Box,
.sw-Txtarea h4 + p,
.sw-Txtarea h4 + img,
.sw-Txtarea h4 + h2,
.sw-Txtarea h4 + h3,
.sw-Txtarea h4 + h4,
.sw-Txtarea h4 + h5,
.sw-Txtarea h4 + .sw-Box,
.sw-Txtarea h5 + p,
.sw-Txtarea h5 + img,
.sw-Txtarea h5 + h2,
.sw-Txtarea h5 + h3,
.sw-Txtarea h5 + h4,
.sw-Txtarea h5 + h5,
.sw-Txtarea h5 + .sw-Box,
.sw-Txtarea h6 + p,
.sw-Txtarea h6 + img,
.sw-Txtarea h6 + h2,
.sw-Txtarea h6 + h3,
.sw-Txtarea h6 + h4,
.sw-Txtarea h6 + h5,
.sw-Txtarea h6 + .sw-Box,
.sw-Txtarea .h7 + p,
.sw-Txtarea .h7 + img,
.sw-Txtarea .h7 + h2,
.sw-Txtarea .h7 + h3,
.sw-Txtarea .h7 + h4,
.sw-Txtarea .h7 + h5,
.sw-Txtarea .h7 + .sw-Box,
.sw-Txtarea ul + p,
.sw-Txtarea ul + img,
.sw-Txtarea ul + h2,
.sw-Txtarea ul + h3,
.sw-Txtarea ul + h4,
.sw-Txtarea ul + h5,
.sw-Txtarea ul + .sw-Box,
.sw-Txtarea .sw-Box + p,
.sw-Txtarea .sw-Box + img,
.sw-Txtarea .sw-Box + h2,
.sw-Txtarea .sw-Box + h3,
.sw-Txtarea .sw-Box + h4,
.sw-Txtarea .sw-Box + h5,
.sw-Txtarea .sw-Box + .sw-Box {
  margin-top: 50px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea p + p, .sw-Txtarea p + img, .sw-Txtarea p + h2, .sw-Txtarea p + h3, .sw-Txtarea p + h4, .sw-Txtarea p + h5, .sw-Txtarea p + .sw-Box,
.sw-Txtarea img + p,
.sw-Txtarea img + img,
.sw-Txtarea img + h2,
.sw-Txtarea img + h3,
.sw-Txtarea img + h4,
.sw-Txtarea img + h5,
.sw-Txtarea img + .sw-Box,
.sw-Txtarea h2 + p,
.sw-Txtarea h2 + img,
.sw-Txtarea h2 + h2,
.sw-Txtarea h2 + h3,
.sw-Txtarea h2 + h4,
.sw-Txtarea h2 + h5,
.sw-Txtarea h2 + .sw-Box,
.sw-Txtarea h3 + p,
.sw-Txtarea h3 + img,
.sw-Txtarea h3 + h2,
.sw-Txtarea h3 + h3,
.sw-Txtarea h3 + h4,
.sw-Txtarea h3 + h5,
.sw-Txtarea h3 + .sw-Box,
.sw-Txtarea h4 + p,
.sw-Txtarea h4 + img,
.sw-Txtarea h4 + h2,
.sw-Txtarea h4 + h3,
.sw-Txtarea h4 + h4,
.sw-Txtarea h4 + h5,
.sw-Txtarea h4 + .sw-Box,
.sw-Txtarea h5 + p,
.sw-Txtarea h5 + img,
.sw-Txtarea h5 + h2,
.sw-Txtarea h5 + h3,
.sw-Txtarea h5 + h4,
.sw-Txtarea h5 + h5,
.sw-Txtarea h5 + .sw-Box,
.sw-Txtarea h6 + p,
.sw-Txtarea h6 + img,
.sw-Txtarea h6 + h2,
.sw-Txtarea h6 + h3,
.sw-Txtarea h6 + h4,
.sw-Txtarea h6 + h5,
.sw-Txtarea h6 + .sw-Box,
.sw-Txtarea .h7 + p,
.sw-Txtarea .h7 + img,
.sw-Txtarea .h7 + h2,
.sw-Txtarea .h7 + h3,
.sw-Txtarea .h7 + h4,
.sw-Txtarea .h7 + h5,
.sw-Txtarea .h7 + .sw-Box,
.sw-Txtarea ul + p,
.sw-Txtarea ul + img,
.sw-Txtarea ul + h2,
.sw-Txtarea ul + h3,
.sw-Txtarea ul + h4,
.sw-Txtarea ul + h5,
.sw-Txtarea ul + .sw-Box,
.sw-Txtarea .sw-Box + p,
.sw-Txtarea .sw-Box + img,
.sw-Txtarea .sw-Box + h2,
.sw-Txtarea .sw-Box + h3,
.sw-Txtarea .sw-Box + h4,
.sw-Txtarea .sw-Box + h5,
.sw-Txtarea .sw-Box + .sw-Box {
    margin-top: 7.03125vw;
  }
}
.sw-Txtarea p + h6, .sw-Txtarea p + .h7, .sw-Txtarea p + ul,
.sw-Txtarea img + h6,
.sw-Txtarea img + .h7,
.sw-Txtarea img + ul,
.sw-Txtarea h2 + h6,
.sw-Txtarea h2 + .h7,
.sw-Txtarea h2 + ul,
.sw-Txtarea h3 + h6,
.sw-Txtarea h3 + .h7,
.sw-Txtarea h3 + ul,
.sw-Txtarea h4 + h6,
.sw-Txtarea h4 + .h7,
.sw-Txtarea h4 + ul,
.sw-Txtarea h5 + h6,
.sw-Txtarea h5 + .h7,
.sw-Txtarea h5 + ul,
.sw-Txtarea h6 + h6,
.sw-Txtarea h6 + .h7,
.sw-Txtarea h6 + ul,
.sw-Txtarea .h7 + h6,
.sw-Txtarea .h7 + .h7,
.sw-Txtarea .h7 + ul,
.sw-Txtarea ul + h6,
.sw-Txtarea ul + .h7,
.sw-Txtarea ul + ul,
.sw-Txtarea .sw-Box + h6,
.sw-Txtarea .sw-Box + .h7,
.sw-Txtarea .sw-Box + ul {
  margin-top: 40px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea p + h6, .sw-Txtarea p + .h7, .sw-Txtarea p + ul,
.sw-Txtarea img + h6,
.sw-Txtarea img + .h7,
.sw-Txtarea img + ul,
.sw-Txtarea h2 + h6,
.sw-Txtarea h2 + .h7,
.sw-Txtarea h2 + ul,
.sw-Txtarea h3 + h6,
.sw-Txtarea h3 + .h7,
.sw-Txtarea h3 + ul,
.sw-Txtarea h4 + h6,
.sw-Txtarea h4 + .h7,
.sw-Txtarea h4 + ul,
.sw-Txtarea h5 + h6,
.sw-Txtarea h5 + .h7,
.sw-Txtarea h5 + ul,
.sw-Txtarea h6 + h6,
.sw-Txtarea h6 + .h7,
.sw-Txtarea h6 + ul,
.sw-Txtarea .h7 + h6,
.sw-Txtarea .h7 + .h7,
.sw-Txtarea .h7 + ul,
.sw-Txtarea ul + h6,
.sw-Txtarea ul + .h7,
.sw-Txtarea ul + ul,
.sw-Txtarea .sw-Box + h6,
.sw-Txtarea .sw-Box + .h7,
.sw-Txtarea .sw-Box + ul {
    margin-top: 7.03125vw;
  }
}
.sw-Txtarea p + p {
  margin-top: 1em;
}
.sw-Txtarea-top {
  font-size: 18px;
  letter-spacing: 0.06em;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea-top {
    font-size: 3.6458333333vw;
  }
}
.sw-Txtarea img {
  height: auto;
  max-width: 100%;
}
.sw-Txtarea ul li {
  list-style-type: none;
  padding-left: 26px;
  line-height: 1.8;
  position: relative;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea ul li {
    padding-left: 3.3854166667vw;
  }
}
.sw-Txtarea ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 10px;
  left: 9px;
  top: 12px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea ul li::before {
    width: 0.5208333333vw;
    height: 0.5208333333vw;
    left: 1.171875vw;
    top: 2.2135416667vw;
  }
}
.sw-Txtarea ul li + li {
  margin-top: 1em;
}
.sw-Txtarea ul.sw-Check li::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../../images/common/icon_check.svg) 0 0/contain no-repeat;
  left: 0;
  top: 5px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea ul.sw-Check li::before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    top: 1.5625vw;
  }
}
.sw-Txtarea ul.sw-Check li + li {
  margin-top: 1em;
}
.sw-Txtarea ol li {
  list-style-type: decimal;
  margin: 0 0 0.4em 1.5em;
  line-height: 1.8;
}
.sw-Txtarea h2 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.06em;
  line-height: 160%;
  padding: 0 0 28px;
  position: relative;
  border-bottom: 1px solid rgb(54, 177, 191);
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea h2 {
    font-size: 5.2083333333vw;
    padding: 0 0 4.4270833333vw;
  }
}
.sw-Txtarea h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  background: rgb(54, 177, 191);
  bottom: -2px;
  left: 0;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea h2::after {
    width: 5.2083333333vw;
    height: 0.5208333333vw;
    bottom: -0.2604166667vw;
  }
}
.sw-Txtarea h3 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.06em;
  line-height: 160%;
  position: relative;
  padding: 6px 0 6px 20px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea h3 {
    font-size: 4.4270833333vw;
    padding: 1.3020833333vw 0 1.3020833333vw 3.90625vw;
  }
}
.sw-Txtarea h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 100%;
  background: rgb(54, 177, 191);
  bottom: 0;
  left: 0;
}
.sw-Txtarea h4 {
  color: #fff;
  background: rgb(54, 177, 191);
  line-height: 1.6;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.06em;
  padding: 18px 0px 20px 0px;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
  position: relative;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea h4 {
    font-size: 4.4270833333vw;
    padding: 3.125vw 3.90625vw 3.2552083333vw 3.90625vw;
    border-radius: 0.78125vw 0.78125vw 0px 0px;
  }
}
.sw-Txtarea h4::after {
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/common/img_fukidashi.svg) 0 0/contain no-repeat;
  width: 16px;
  height: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea h4::after {
    width: 3.90625vw;
    height: 2.0833333333vw;
    bottom: -2.0833333333vw;
  }
}
.sw-Txtarea h5 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 22px;
  letter-spacing: 0.06em;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(54, 177, 191);
  font-weight: 700;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea h5 {
    font-size: 4.1666666667vw;
    padding-bottom: 3.3854166667vw;
  }
}
.sw-Txtarea h6 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 22px;
  letter-spacing: 0.06em;
  color: rgb(54, 177, 191);
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea h6 {
    font-size: 4.1666666667vw;
  }
}
.sw-Txtarea .sw-Box_Inner {
  background-color: #DEF1F4;
  border-radius: 0 0 6px 6px;
  border: 1px solid #36B1BF;
  padding: 40px 50px 50px 50px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea .sw-Box_Inner {
    border-radius: 0 0 0.78125vw 0.78125vw;
    padding: 4.6875vw 5.2083333333vw 5.2083333333vw 5.2083333333vw;
  }
}
.sw-Txtarea p.h7 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 20px 30px;
  border-radius: 4px;
  background: #F4F4F4;
}
@media print, screen and (max-width: 1024px) {
  .sw-Txtarea p.h7 {
    font-size: 3.3854166667vw;
    padding: 3.125vw 3.90625vw;
    border-radius: 0.5208333333vw;
  }
}

/* =============================================================== */
/* .sw-Slider */
/* =============================================================== */
.sw-Slider {
  padding: 0 0 35px;
  margin: 0 auto;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider {
    padding: 0 0 7.5520833333vw;
    overflow: visible;
  }
}
.sw-Slider_Wrapper {
  position: relative;
  padding: 0 41px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider_Wrapper {
    padding: 0;
  }
}
.sw-Slider_Wrapper .att {
  margin-top: 40px;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 1.6;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider_Wrapper .att {
    margin-top: 5.2083333333vw;
    font-size: 2.6041666667vw;
  }
}
.sw-Slider .swiper-wrapper {
  position: relative;
}
.sw-Slider .swiper-slide {
  height: auto;
}
.sw-Slider .swiper-slide_Inner {
  height: 100%;
  background: #fff;
  position: relative;
  padding: 20px 20px 94px;
  border-radius: 6px;
  border: 1px solid #EDEEEF;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide_Inner {
    padding: 3.90625vw 3.90625vw 17.96875vw;
  }
}
.sw-Slider .swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.34%, #36B1BF), color-stop(-0.33%, #49D0DF), to(#36B1BF));
  background: -webkit-linear-gradient(left, #36B1BF -0.34%, #49D0DF -0.33%, #36B1BF 100%);
  background: linear-gradient(90deg, #36B1BF -0.34%, #49D0DF -0.33%, #36B1BF 100%);
  top: 0;
  left: 0;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide::after {
    height: 0.390625vw;
  }
}
.sw-Slider .swiper-slide .heading {
  font-size: 20px;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 1.6;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .heading {
    font-size: 3.90625vw;
  }
}
.sw-Slider .swiper-slide .img {
  margin-top: 16px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .img {
    margin-top: 3.90625vw;
  }
}
.sw-Slider .swiper-slide .tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 6px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .tag {
    margin-top: 3.90625vw;
    gap: 1.3020833333vw;
  }
}
.sw-Slider .swiper-slide .tag-Item {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 6px 8px 7px 8px;
  background: #FF788A;
  border-radius: 2px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .tag-Item {
    font-size: 3.125vw;
    padding: 1.5625vw 2.8645833333vw 1.8229166667vw;
    border-radius: 0.5208333333vw;
  }
}
.sw-Slider .swiper-slide .wage {
  margin-top: 12px;
  color: #494949;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 1;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .wage {
    margin-top: 2.34375vw;
    font-size: 3.90625vw;
  }
}
.sw-Slider .swiper-slide .wage .num {
  font-size: 26px;
  letter-spacing: 0.06em;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .wage .num {
    font-size: 5.2083333333vw;
  }
}
.sw-Slider .swiper-slide .wage .icon {
  display: inline-block;
  width: 20px;
  height: 21px;
  line-height: 0;
  fill: #FF97A5;
  margin-right: 8px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .wage .icon {
    width: 3.90625vw;
    height: 4.0364583333vw;
    margin-right: 1.5625vw;
  }
}
.sw-Slider .swiper-slide .detail {
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 1.6;
  margin-top: 18px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .detail {
    font-size: 3.3854166667vw;
    margin-top: 3.90625vw;
  }
}
.sw-Slider .swiper-slide .anchor {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 292px;
  height: 52px;
  background: rgb(54, 177, 191);
  color: #fff;
  position: relative;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 1;
  border-radius: 10px;
  position: absolute;
  bottom: 26px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .anchor {
    bottom: 4.6875vw;
    width: 57.03125vw;
    height: 10.15625vw;
    font-size: 3.3854166667vw;
  }
}
.sw-Slider .swiper-slide .anchor .arw {
  fill: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: 16px;
  height: 16px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider .swiper-slide .anchor .arw {
    width: 3.125vw;
    height: 3.125vw;
    right: 2.6041666667vw;
  }
}
@media (any-hover: hover) {
  .sw-Slider .swiper-slide .anchor {
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  .sw-Slider .swiper-slide .anchor:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
  }
}

.sw-Slider_Btn_Item {
  margin: 0;
  width: 28px;
  height: 28px;
  background: none;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto 0 !important;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
@media print, screen and (max-width: 1024px) {
  .sw-Slider_Btn_Item {
    display: none;
  }
}
.sw-Slider_Btn_Item:after {
  display: none;
}
.sw-Slider_Btn_Item .arw {
  width: 100%;
  height: 100%;
  line-height: 0;
  fill: #8D8D8D;
  display: inline-block;
}
.sw-Slider_Btn_Item-prev {
  left: 0;
}
.sw-Slider_Btn_Item-next {
  right: 0;
}

.sw-Slider_Pagination {
  top: auto !important;
  bottom: 0 !important;
  margin: 0 !important;
}
.sw-Slider_Pagination .swiper-pagination-bullet {
  background: #F7F7F7;
  opacity: 1;
}
.sw-Slider_Pagination .swiper-pagination-bullet-active {
  background: rgb(54, 177, 191);
}

/* =============================================================== */
/* .sw-Imgtxt */
/* =============================================================== */
.sw-Imgtxt {
  margin-top: 50px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Imgtxt {
    margin-top: 10.4166666667vw;
  }
}
@media print, screen and (min-width: 1025px) {
  .sw-Imgtxt_Item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    gap: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
@media print, screen and (min-width: 1025px) {
  .sw-Imgtxt_Item .sw-Imgtxt_Item_Img {
    width: 580px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }
}
.sw-Imgtxt_Item .sw-Imgtxt_Item_Img img {
  margin: 0;
}
@media print, screen and (min-width: 1025px) {
  .sw-Imgtxt_Item .sw-Imgtxt_Item_Txt {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
@media print, screen and (max-width: 1024px) {
  .sw-Imgtxt_Item .sw-Imgtxt_Item_Txt {
    margin-top: 6.5104166667vw;
  }
}
.sw-Imgtxt_Item + .sw-Imgtxt_Item {
  margin-top: 50px;
}
@media print, screen and (max-width: 1024px) {
  .sw-Imgtxt_Item + .sw-Imgtxt_Item {
    margin-top: 6.5104166667vw;
  }
}
@media print, screen and (min-width: 1025px) {
  .sw-Imgtxt_Item:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

/*-------------------------------------------------------------------*/
/* Mixin */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Variable */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Mixin */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Variable */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* mass */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Reset */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Mixin */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Keyframe */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Foundation */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Variable */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Module */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Header */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------*/
/* =============================================================== */
/* .idx-Header */
/* =============================================================== */
.idx-Header {
  padding: 24px 0;
}
@media print, screen and (max-width: 1024px) {
  .idx-Header {
    padding: 2.2135416667vw 0 2.34375vw;
  }
}
.idx-Header_Inner {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media print, screen and (max-width: 1024px) {
  .idx-Header_Inner {
    width: 93.75vw;
  }
}
.idx-Header_Logo {
  width: 215px;
  display: block;
}
@media print, screen and (max-width: 1024px) {
  .idx-Header_Logo {
    width: 39.0625vw;
  }
}
.idx-Header_Right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: 12px;
}
.idx-Header_Right .sw-Btn {
  gap: 4px;
  font-size: 17px;
  letter-spacing: 0.06em;
  width: 166px;
  height: 50px;
  padding-right: 3px;
}
@media print, screen and (max-width: 1024px) {
  .idx-Header_Right .sw-Btn {
    gap: 1.5625vw;
    font-size: 2.8645833333vw;
    width: 23.4375vw;
    height: 9.6354166667vw;
  }
}
.idx-Header_Right .sw-Btn .icon {
  width: 24px;
  height: 24px;
  line-height: 0;
  display: block;
  fill: #fff;
}
@media print, screen and (max-width: 1024px) {
  .idx-Header_Right .sw-Btn .icon {
    width: 3.90625vw;
    height: 3.90625vw;
  }
}
@media print, screen and (max-width: 1024px) {
  .idx-Header_Right .sw-Btn-search {
    display: none;
  }
}
.idx-Header_Right_Tel {
  padding-left: 12px;
}
@media print, screen and (max-width: 1024px) {
  .idx-Header_Right_Tel {
    display: none;
  }
}
.idx-Header_Right_Tel .num {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: 6px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.06em;
  color: #F53966;
}
.idx-Header_Right_Tel .num .icon {
  width: 30px;
}
.idx-Header_Right_Tel .time {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}
.idx-Header_Right_Tel .time-Heading {
  display: inline-block;
  border-radius: 2px;
  background: #808789;
  color: #fff;
  font-size: 10px;
  letter-spacing: 0.06em;
  line-height: 1;
  padding: 4px 6px 5px 6px;
  font-weight: 700;
}
.idx-Header_Right_Tel .time .txt {
  color: #808789;
  font-size: 12px;
  letter-spacing: 0.06em;
  line-height: 1;
  font-weight: 700;
}

/* =============================================================== */
/* .idx-Keyvisual */
/* =============================================================== */
.idx-Keyvisual {
  position: relative;
  height: 700px;
  max-width: 1920px;
  margin: 0 auto;
}
@media print, screen and (max-width: 1024px) {
  .idx-Keyvisual {
    width: 100%;
    height: auto;
  }
}
.idx-Keyvisual_Img {
  width: 1920px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media print, screen and (max-width: 1024px) {
  .idx-Keyvisual_Img {
    position: relative;
    width: 100%;
    left: auto;
    -webkit-transform: none;
    transform: none;
  }
}
.idx-Keyvisual_Txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.05%, rgba(0, 0, 0, 0)), to(rgba(69, 60, 47, 0.6)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 43.05%, rgba(69, 60, 47, 0.6) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.05%, rgba(69, 60, 47, 0.6) 100%);
}
.idx-Keyvisual_Txt_Inner {
  color: #fff;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  gap: 7px 0;
  padding-bottom: 74px;
}
@media print, screen and (max-width: 1024px) {
  .idx-Keyvisual_Txt_Inner {
    padding: 0 5.2083333333vw 6.5104166667vw;
    width: 100%;
  }
}
.idx-Keyvisual_Txt_Inner .txt-small {
  font-size: 34px;
  letter-spacing: 0.06em;
  line-height: 1.4;
  width: 684px;
}
@media print, screen and (max-width: 1024px) {
  .idx-Keyvisual_Txt_Inner .txt-small {
    width: 100%;
    font-size: 3.90625vw;
  }
}
.idx-Keyvisual_Txt_Inner .txt-large {
  font-size: 100px;
  letter-spacing: 0.06em;
  line-height: 1.3;
  width: 1030px;
}
@media print, screen and (max-width: 1024px) {
  .idx-Keyvisual_Txt_Inner .txt-large {
    width: 100%;
    font-size: 11.1979166667vw;
    margin-top: 2.6041666667vw;
  }
}

/* =============================================================== */
/* #registration */
/* =============================================================== */
#registration {
  max-width: 1920px;
  margin: 0 auto;
  height: 656px;
  font-size: 20px;
  letter-spacing: 0.06em;
  position: relative;
}
@media print, screen and (max-width: 1024px) {
  #registration {
    width: 100%;
    height: auto;
  }
}

.registration-Bg {
  width: 1920px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.registration-Bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media print, screen and (max-width: 1024px) {
  .registration-Bg {
    position: relative;
    width: 100%;
    left: auto;
    -webkit-transform: none;
    transform: none;
  }
}
@media print, screen and (max-width: 1024px) {
  .registration-Bg-thanks {
    display: none;
  }
}

.registration-Inner {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 0 516px;
  font-size: 16px;
  line-height: 1.5;
}
@media print, screen and (min-width: 1025px) {
  .registration-Inner-thanks {
    padding: 70px 0 0 516px;
  }
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner {
    width: 100%;
    padding: 0;
  }
}
.registration-Inner_Ttl {
  width: 444px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner_Ttl {
    width: 100%;
    border-radius: 0;
  }
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner .main-content {
    width: 100%;
  }
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner .registration-form {
    width: 100%;
  }
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner .horizontal-scroll-item {
    width: calc(100vw - 10.4166666667vw - 0px);
  }
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner .form-content {
    width: 100%;
  }
}
.registration-Inner .form-content-wrapper {
  width: 444px;
  border-radius: 0 0 10px 10px;
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner .form-content-wrapper {
    padding: 0;
    width: 100%;
    border-radius: 0;
  }
}
.registration-Inner .main-content-wrapper {
  padding: 0;
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner .main-content-wrapper {
    width: 100%;
    padding: 5.2083333333vw 5.2083333333vw 7.8125vw;
  }
}
.registration-Inner .form-content {
  padding: 0;
  margin-top: 0;
}
.registration-Inner .form-label {
  margin-bottom: 0.5em;
}
.registration-Inner .horizontal-scroll-item {
  padding-bottom: 0;
}
.registration-Inner .radio:after {
  margin-top: -8px;
}
.registration-Inner .button-wrapper {
  text-align: center;
}
.registration-Inner input[type=text],
.registration-Inner input[type=email],
.registration-Inner input[type=tel],
.registration-Inner textarea {
  background: #fff;
}
.registration-Inner select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.registration-Inner .terms-link-wrapper {
  font-size: 12px;
  margin: 8px 0 12px;
}
@media print, screen and (max-width: 1024px) {
  .registration-Inner .terms-link-wrapper {
    font-size: 2.8645833333vw;
  }
}

.main-content form {
  margin: 0;
}

/* =============================================================== */
/* .section-Pharmacareer */
/* =============================================================== */
.pharmacareer-Txt {
  margin-top: 34px;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Txt {
    margin-top: 5.2083333333vw;
  }
}
.pharmacareer-Txt .heading {
  color: rgb(54, 177, 191);
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Txt .heading {
    margin-bottom: 1.8229166667vw;
    font-size: 4.9479166667vw;
  }
}
.pharmacareer-Txt .detail {
  font-weight: 700;
  line-height: 180%;
  font-size: 15px;
  letter-spacing: 0.06em;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Txt .detail {
    font-size: 3.125vw;
    width: 81.7708333333vw;
    margin: 0 auto;
  }
}
.pharmacareer-Txt .detail .color {
  color: #F53966;
}

.pharmacareer-Tel {
  border-radius: 12px;
  border: 4px solid #BCE5EB;
  background: #fff;
  text-align: center;
  padding: 16px 0;
  width: 628px;
  margin: 34px auto 0;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Tel {
    border-radius: 2.6041666667vw;
    border: 0.5208333333vw solid #BCE5EB;
    padding: 5.2083333333vw 0 5.7291666667vw;
    width: 81.7708333333vw;
    margin: 5.2083333333vw auto 0;
  }
}
.pharmacareer-Tel .heading {
  color: rgb(54, 177, 191);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.06em;
  margin-bottom: 11px;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Tel .heading {
    font-size: 3.90625vw;
    margin-bottom: 3.125vw;
  }
}
.pharmacareer-Tel .num {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 2px;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.06em;
  color: #F53966;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Tel .num {
    gap: 1.0416666667vw;
    font-size: 7.2916666667vw;
  }
}
.pharmacareer-Tel .num .icon {
  width: 40px;
  line-height: 0.9;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Tel .num .icon {
    width: 8.3333333333vw;
  }
}
.pharmacareer-Tel .time {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 6px;
  margin-top: 11px;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Tel .time {
    gap: 1.3020833333vw;
    margin-top: 3.125vw;
  }
}
.pharmacareer-Tel .time-Heading {
  display: inline-block;
  border-radius: 2px;
  background: #808789;
  color: #fff;
  font-size: 10px;
  letter-spacing: 0.06em;
  line-height: 1;
  padding: 4px 6px 5px 6px;
  font-weight: 700;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Tel .time-Heading {
    border-radius: 0.5208333333vw;
    font-size: 2.6041666667vw;
    padding: 0.78125vw 1.3020833333vw 1.0416666667vw 1.3020833333vw;
  }
}
.pharmacareer-Tel .time .txt {
  color: #808789;
  font-size: 12px;
  letter-spacing: 0.06em;
  line-height: 1;
  font-weight: 700;
}
@media print, screen and (max-width: 1024px) {
  .pharmacareer-Tel .time .txt {
    font-size: 3.125vw;
  }
}

/* =============================================================== */
/* .idx-Footer */
/* =============================================================== */
.idx-Footer {
  padding: 50px 0 134px;
  background: #FAFAFA;
}
@media print, screen and (max-width: 1024px) {
  .idx-Footer {
    padding: 9.1145833333vw 0 15.625vw;
  }
}
.idx-Footer_Inner {
  width: 960px;
  margin: 0 auto;
  padding-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 30px;
}
@media print, screen and (max-width: 1024px) {
  .idx-Footer_Inner {
    width: 89.5833333333vw;
    display: block;
    padding: 0;
  }
}
.idx-Footer_Logo {
  width: 280px;
  display: block;
}
@media print, screen and (max-width: 1024px) {
  .idx-Footer_Logo {
    width: 63.8020833333vw;
    margin: 0 auto 5.2083333333vw;
  }
}
.idx-Footer_Txt {
  color: #808789;
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 0.06em;
  line-height: 1.6;
}
@media print, screen and (max-width: 1024px) {
  .idx-Footer_Txt {
    text-align: center;
    font-size: 2.6041666667vw;
  }
}
.idx-Footer-thanks {
  padding: 50px 0;
}
@media print, screen and (max-width: 1024px) {
  .idx-Footer-thanks {
    padding: 9.1145833333vw 0;
  }
}

/* =============================================================== */
/* .idx-Following */
/* =============================================================== */
.idx-Following {
  position: fixed;
  z-index: 100;
  bottom: -90px;
  left: 0;
  padding: 14px 0;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 15px;
  -webkit-transition: 0.3s bottom;
  transition: 0.3s bottom;
}
@media print, screen and (max-width: 1024px) {
  .idx-Following {
    padding: 1.3020833333vw;
    bottom: -15.625vw;
    gap: 1.8229166667vw;
  }
}
.idx-Following.is-show {
  bottom: 0;
}
.idx-Following .sw-Btn {
  gap: 6px;
  font-size: 16px;
  letter-spacing: 0.06em;
  width: 250px;
  height: 56px;
  padding-right: 8px;
}
@media print, screen and (max-width: 1024px) {
  .idx-Following .sw-Btn {
    gap: 0.78125vw;
    font-size: 3.3854166667vw;
    width: 46.6145833333vw;
    height: 10.4166666667vw;
  }
}
.idx-Following .sw-Btn .icon {
  width: 22px;
  height: 22px;
  line-height: 0;
  display: block;
  fill: #fff;
}
@media print, screen and (max-width: 1024px) {
  .idx-Following .sw-Btn .icon {
    width: 4.9479166667vw;
    height: 4.9479166667vw;
  }
}

/* =============================================================== */
/* .thanks-content */
/* =============================================================== */
.thanks-content p {
  margin-bottom: 1rem;
}

.registration-thanks .form-content {
  margin-bottom: 0;
}
@media print, screen and (max-width: 1024px) {
  .registration-thanks .horizontal-scroll-item {
    padding-bottom: 1em;
  }
}