@use "global" as *;

.l-inner {
	margin-inline: auto;
	max-width: rem($inner-sp + $padding-sp * 2);
	width: 100%;
	padding-inline: rem($padding-sp);
	@include mq(md) {
		max-width: initial;
		width: rem($inner-pc + $padding-pc * 2);
		// width: 1200px;
		padding-inline: rem($padding-pc);
	}
}
